input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.odalar{
  margin-top: 20px;
}

.odalar div {
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.odalar div h2{
  background-color: black;
  color: white;
}

.yesil{
  background-color: green;
}

.gri{
  background-color: grey;
}

.musteriler{
  padding-left: 10px;
}

.musteriler .musteri {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #e3e3e3;
 border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
width:300px;
}

.musteri th{
  width:140px;
  cursor:pointer;
}

.rezDate{
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}


.gelecekRezervasyonlar{
  margin-top: 130px;
}


.gelirgider-table{
  margin-top: 15px;
}
